body {
    width: 700px;
    margin: 0 auto;
    background-color: sandybrown;
}

#header {
    background: blue;
    color: white;
    text-align: center;
}

#main {
    min-height: 240px;
}

#footer {
    background-color: teal;
    color: #fff;
}