h1 {
    color: red;
}

table {
    border: 1px solid black;
    width: 50%;
    border-collapse: collapse;
    font-size: x-large;
}

table caption {
    font-weight: bold;
    font-size: 1.25em;
}

tr, th, td {
    border: 1px solid black;
    padding: .5em;
}

tr:nth-child(even) {
    background-color: teal;
    color: white;
}